In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv("melb_data.csv")

In [3]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
melb_data = melb_data.dropna(axis = 0)

In [8]:
y = melb_data.Price

In [9]:
melb_features = ["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]

In [10]:
x = melb_data[melb_features]

In [11]:
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [13]:
melb_model = DecisionTreeRegressor(random_state = 1)
melb_model.fit(x,y)

DecisionTreeRegressor(random_state=1)

In [14]:
print("Making prediction for 5 houses")
print(x.head())
print("The prediction are")
print(melb_model.predict(x.head()))

Making prediction for 5 houses
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The prediction are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [15]:
from sklearn.metrics import mean_absolute_error

In [16]:
pred_home_prices = melb_model.predict(x)
mean_absolute_error(y, pred_home_prices)

1115.7467183128902

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train_x, val_x, train_y, val_y = train_test_split(x,y, random_state = 0)

In [19]:
melb_model = DecisionTreeRegressor()
melb_model.fit(train_x, train_y)
val_pred = melb_model.predict(val_x)
print(mean_absolute_error(val_y, val_pred))

276078.08607703896